@use '../../../styles/partials/colors-fonts' as *;

.comments {
    padding: 0 16px;

    @include tablet {
        padding: 0 36px;
    }

    @include desktop {
        padding: 0;
    }

    &-form_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #E1E1E1;
        padding-bottom: 16px;

        @include desktop {
            padding-right: 36px;
            border-bottom: 0;
        }
    }

    &-form {
        width: 75%;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 89%;
            align-items: center;
        }

        &_avatar {
            min-width: 36px;
            min-height: 36px;
            border-radius: 50%;
            margin: 0;
            max-height: 48px;
            max-width: 48px;
        }

        &_field {

            @include tablet {
                width: 70%;
            }

            textarea {
                width: 100%;
                box-sizing: border-box;
                min-height: 36px;
                border-radius: 4px;
                padding: 12px;
                border: 1px solid $mercury;
                font-family: Avenir Next;
                color: $brainflix-black;
            }
        }

        &_button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include tablet {
                width: 160px;
                padding: 0 32px;
            }

            p {
                font-size: 12px;
                line-height: 20px;
                font-weight: 700;
                width: 100%;
            }
        }
    }
    
}

.comment-total {
    padding: 24px 0 16px;
}

.comment-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0 16px;
    border-bottom: solid 1px #E1E1E1;

    @include desktop {
        padding-right: 36px;
        border-top: solid 1px #E1E1E1;
        border-bottom: 0;
    }

    &_avatar {
        width: 36px;
        height: 36px;
        background-color: #E1E1E1;
        border-radius: 50%;
        padding: 8px;
        margin: 0;
        vertical-align: middle;
    }

    &_comment-container {
        width: 75%;

        @include tablet {
            width: 89%;
        }
    }

    &_comment-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
    }
   
}

.comment-timestamp {
    color: $silver;
}