@use '../../styles/partials/colors-fonts' as *;

.next-videos{
    padding: 24px 16px 0;

    @include tablet {
        padding: 24px 36px 0;
    }

    @include desktop {
        width: 25%;
        padding-right: 0;
    }

    &_header {
        padding-bottom: 16px;
    }

    &_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        padding-bottom: 16px;
        justify-content: space-between;
    }

    &_image-container{
        width: 35%;
        
    }

    &_image {
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
    }

    &_text-contianer {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    &_header {
        padding-bottom: 16px;
    }
}