@use '../../../styles/partials/colors-fonts' as *;

.video-info {

    padding: 0 16px;

        @include tablet {
            padding: 0 36px;
        }

        @include desktop {
            padding: 0;
        }

    &_title {
        padding: 24px 0 16px;
        border-bottom: 1px solid $mercury;

        @include tablet {
            border-bottom: 0px
        }
    }

    &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: solid 1px $mercury;

        @include tablet {
            padding-top: 0;
        }

        @include desktop {
            padding-right: 36px;
        }

    }

    &_mobile {
        width: 80%;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
        }

        p {
            color: $silver;
        }

        .info_top-row {
            padding-bottom: 16px;

            @include tablet {
                padding-bottom: 0;
            }
        }
    }

    &_views-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;

    }

    &_likes-container{
        @extend .video-info_views-container;
    }

    &_description {
        @extend .video-info_title;
        border-bottom: 0;

        @include desktop {
            padding-right: 36px;
        }
    }
}
