@use '../../styles/partials/colors-fonts' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 16px;

    @include tablet {
        padding: 26px 36px 16px;
        flex-direction: row;
    }

    @include desktop {
        padding: 26px 63px 16px;
        margin: 0 auto;
        max-width: 1280px;
    }

    &-logo {
        padding-bottom: 16px;

        @include tablet {
            padding-bottom: 0;
        }
    }

    &-form {
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        @include tablet {
            padding-bottom: 0;
        }

        &_field {

            input {
                background-image: url('../../assets/images/icons/search.svg');
                background-repeat: no-repeat;
                background-position: left;
                background-position-x: 5%;
                width: 95%;
                border-radius: 4px;
                padding: 12px 12px 12px 36px;
                border: 1px solid $mercury;
            }
        }

        &_avatar {
            min-width: 36px;
            min-height: 36px;
            border-radius: 50%;
            margin: 0;
            max-height: 40px;
            max-width: 40px;
        }
    }

    &-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            min-width: 150px;
        }


        p {
            font-size: 12px;
            line-height: 20px;
            font-weight: 700;
            width: 100%;
        }
    }
}

.mobile-avatar {

    @include tablet {
        display: none;
    }
}

.tablet-avatar {
    display: none;
    
    @include tablet {
        display: block;
    }
}