@use './styles/partials/colors-fonts' as *;

body {
    font-family: Avenir Next;
    color: $brainflix-black;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;

    @include tablet {
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
    
    }
}

h2 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    color: $silver;

    @include tablet {
        font-weight: 700;
    }
}


h3 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;

    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;

    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

button {
    height: 40px;
    border-radius: 4px;
    border-width: 0;
    background-color: $brainflix-blue;
    color: $white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    width: 100%;

    p {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
    }
}


.form-field {

    textarea {
        width: 100%;
        min-height: 36px;
        border-radius: 4px;
        padding: 12px;
        border: 1px solid $mercury;
    }
    
}

.desktop-container {

    @include desktop {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 63px;
    }
}

.desktop-videodetails-container {

    @include desktop {
        width: 75%;
        border-right: solid 1px $silver;
    }
}