@use '../../styles/partials/colors-fonts' as *;

.video {

    @include tablet {
        display: flex;
        justify-content: center;
        background-color: $brainflix-darkblack;
    }

    @include desktop {
        // display: none;
    }

    video {
        width: 100%;

        @include tablet {
            width: 90%;
        }
    }
   
}