@use '../../styles/partials/colors-fonts' as *;

.comments {
    padding: 0 16px;

    &-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #E1E1E1;
        padding-bottom: 16px;

        form {
            width: 75%;
        }
    }
}
.comment-total {
    padding: 24px 0 16px;
}

.comment-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0 16px;
    border-bottom: solid 1px #E1E1E1;

    &_avatar {
        width: 36px;
        height: 36px;
        background-color: #E1E1E1;
        border-radius: 50%;
        padding: 8px;
        margin: 0;
        vertical-align: middle;
    }

    &_comment-container {
        width: 75%;
    }

    &_comment-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
    }
   
}

.comment-timestamp {
    color: $silver;
}